absl-py==1.4.0
astunparse==1.6.3
av==14.0.1
cachetools==5.3.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
charset-normalizer==3.1.0
cmake==3.25.0
compressai==1.2.4
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1719323969738/work
contourpy==1.0.7
cycler==0.11.0
DISTS-pytorch==0.1
filelock==3.10.0
flatbuffers==23.3.3
fonttools==4.39.0
fvcore==0.1.5.post20221221
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.8.0
huggingface-hub==0.13.2
idna==3.4
imageio==2.34.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
iopath==0.1.10
Jinja2==3.1.2
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
lazy_loader==0.4
libclang==15.0.6.1
lightning-utilities==0.11.7
lit==15.0.7
lpips==0.1.4
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.2.1
networkx==3.0
neuralcompression==0.2.2
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
parameterized==0.9.0
Pillow==9.4.0
portalocker==2.10.1
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-version==0.0.2
pytorch-msssim==0.2.1
pytorchvideo==0.1.5
PyYAML==6.0
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.2.2
scipy==1.10.1
sionna==0.13.0
six==1.16.0
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2024.6.18
timm==0.6.12
torch==2.0.0+cu118
torch-fidelity==0.3.0
torchaudio==2.0.1+cu118
torchmetrics==1.4.2
torchvision==0.15.1+cu118
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
wrapt==1.15.0
yacs==0.1.8
zipp==3.15.0
